:root{
    --primary-color: #333;
}

body {
    background-color: var(--primary-color);
}

h1{
    color: white;
    text-align: center;
    margin-top: 50px;
}
div{
    /* border: 1px solid red; */
}

button {
    margin: 20px auto;
}

.reel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 65px;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.reels{
    position: relative;
    width: 750px;
    height: 450px;
    margin: 50px auto 0;
    border: 1px solid red;
    overflow: hidden;
    /* background-image: url("/images/photo1.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
} 
.reel-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hidden-row{
    position:absolute;
    top: -150px;
}

.bottom-panel{
    text-align: center;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.blink {
    animation: blink 1s linear infinite;
}
