:root{
    --primary-color: #333;
    --primary-color-alpha : #33333349;
    --width: 700px;
    --height: 450px;
    --diagonal: calc(var(--width)/5 * 0.740);
}

body {
    background-color: var(--primary-color);
}

h1{
    color: white;
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 20px auto;
}

.reel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--width) / 5);
    height: calc(var(--height) / 3);
    font-size: 70px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 0 0 10px black;
}

.reel.highlight-horizontal-left::after {
    content: "";
    position: absolute;
    left: 0;
    right: 50%;
    top: 50%;
    border-top: 2px solid red;
    z-index: 10;
}
.reel.highlight-horizontal-right::after {
    content: "";
    position: absolute;
    left: 50%;
    width:50%;
    top: 50%;
    border-top: 2px solid red;
    z-index: 10;
}

.reel.highlight-diagonal-topleft::after {
    content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--diagonal);
  border-right: 2px solid transparent;
  border-top: 2px solid red;
  transform: rotate(-134deg);
  transform-origin: left;
  z-index: 10;
}

/*class for showing line from the middle of the .reel, to the top corner */
.reel.highlight-diagonal-topright::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: var(--diagonal);
  border-right: 2px solid transparent;
  border-top: 2px solid red;
  transform: rotate(-48deg);
  transform-origin: left;
  z-index: 10;
}


.reel.highlight-diagonal-bottomleft::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--diagonal);
    border-right: 2px solid transparent;
    border-top: 2px solid red;
    transform: rotate(135deg);
    transform-origin: left;
    z-index: 10;
}

.reel.highlight-diagonal-bottomright::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--diagonal);
    border-right: 2px solid transparent;
    border-top: 2px solid red;
    transform: rotate(48deg);
    transform-origin: left;
    z-index: 10;
}



.reels{
    position: relative;
    width: var(--width);
    height: var(--height);
    margin: 5px auto 15px;
    overflow: hidden;
    background-image: url("/images/slot-bg.jpg");
} 
.reel-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hidden-row{
    position:absolute;
    top: -150px;
}

.bottom-panel{
    text-align: center;
    background-color: var(--primary-color-alpha);
}
.title{
    margin-top: 0px;
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

