:root{
    --primary-color: #333;
    --primary-color-alpha : #33333349;
    --width: 700px;
    --height: 450px;
}

body {
    background-color: var(--primary-color);
}

h1{
    color: white;
    text-align: center;
    margin-top: 50px;
}

button {
    margin: 20px auto;
}

.reel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--width) / 5);
    height: calc(var(--height) / 3);
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.reels{
    position: relative;
    width: var(--width);
    height: var(--height);
    margin: 60px auto 15px;
    overflow: hidden;
    background-image: url("/images/slot-bg.jpg");
} 
.reel-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hidden-row{
    position:absolute;
    top: -150px;
}

.bottom-panel{
    text-align: center;
    background-color: var(--primary-color-alpha);
}

